/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.local
.env.*.local
frontend/.env*
frontend/.next/
frontend/node_modules/
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
storage/framework/views/*
starmould_git_120823.zip
starmould_git230823.zip
starmould_git170823.zip
*.zip